
#logo {
    height: 4em;
}

.publications_data{
    color: gray;
    font-size: 1.2em;
}

.author{
    color: lightskyblue;
}

.photo_description{
    font-size: 0.8em;
}

header{
    background-color:lightskyblue;
    background-image: url(../img/pattern.png);
    background-size: contain ;
    background-repeat: repeat-x;


}

h1{
    font-size: 3em;
}

